.rectangular-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.card-field {
  margin-bottom: 10px;
}

.additional-info {
  font-weight: bold;
  margin-top: 10px;
}

.additional-info-list {
  list-style-type: disc;
  margin-left: 20px;
}

.additional-info-list li {
  margin-bottom: 5px;
}
